<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ product().title }}</mat-card-title>
  </mat-card-header>
  @let first = product().images_path?.split(",")?.slice(0,1);
  <div class="product-item-link-container">
    <a [routerLink]="['/p/', product().product_id]" class="product-item-link">
      <img
        class="product-item-link--image"
        priority
        [width]="200"
        [height]="200"
        [ngSrc]="'http://localhost:3300/' + first"
        alt="product"
      />
    </a>
  </div>
  <mat-card-content>
    <span class="product-item--desc">
      {{ product().description }}
    </span>
    <p class="product-item--desc">
      price: {{ product().price | currency : "BG" }}
    </p>
    <p>
      gender: {{ product().gender }}
    </p>
    <p>
      category: {{ product().category.type }}
    </p>
  </mat-card-content>

  <mat-card-actions>
    <app-button
      (clicked)="toggleFavorite(product().product_id, product().favorite)"
    >
      <mat-icon
        icon
        [fontIcon]="product().favorite ? 'favorite' : 'favorite_outline'"
      ></mat-icon>
    </app-button>
  </mat-card-actions>
</mat-card>
