<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ product().title }}</mat-card-title>
  </mat-card-header>
  @let first = product().images_path?.split(",")?.slice(0,1);
  <a [routerLink]="['/main', product().product_id]">
    <img
      [width]="225"
      [height]="300"
      priority
      [ngSrc]="'http://localhost:3300/' + first"
      alt="product"
    />
  </a>
  <mat-card-content>
    <span class="product-item--desc">
      {{ product().description }}
    </span>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button (click)="likeChanged(product().product_id, product().favorite)">
      <mat-icon
        [fontIcon]="product().favorite ? 'favorite' : 'favorite_outline'"
      ></mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
