<mat-tree
  #tree
  [dataSource]="dataSource$"
  [childrenAccessor]="childrenAccessor"
>
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <button mat-icon-button disabled></button>
    {{ node.type }}
  </mat-tree-node>
  <mat-tree-node
    *matTreeNodeDef="let node; when: hasChild"
    matTreeNodePadding
    matTreeNodeToggle
    [cdkTreeNodeTypeaheadLabel]="node?.type"
  >
    <button
      mat-icon-button
      matTreeNodeToggle
      [attr.aria-label]="'Toggle ' + node.type"
    >
      <mat-icon class="mat-icon-rtl-mirror">
        {{ tree.isExpanded(node) ? "expand_more" : "chevron_right" }}
      </mat-icon>
    </button>
    {{ node.type }}
  </mat-tree-node>
</mat-tree>
