@use '@angular/material' as mat;
@use './../styles/theme-colors' as theme;

body {
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  overflow-y: scroll;
  background: grey;
  box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
  background: rgb(43, 43, 45);
  border-radius: 10px;
}

section {
  overflow-y: scroll;
  height: 100%;
}




html {
  color-scheme: light;
  @include mat.theme((color: mat.$violet-palette,
      typography: Roboto,
      density: 0));

  &.dark-mode {
    color-scheme: dark;
  }
}
