@use '@angular/material' as mat;
@use './../styles/theme-colors' as theme;

body {
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  // width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;

  .filter-nav {
    height: 100%;
    overflow: scroll;
    max-height: 80%;
    width: 70%;
  }
}

mat-sidenav-container {
  min-height: 100%;
  height: 100vh;
}


html,
body {
  min-height: 100%;
}


mat-sidenav-content.mat-drawer-content {
  overflow: hidden;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 6px;
  overflow-y: scroll;
  background: rgb(182, 139, 139);
  box-shadow: inset 0 0 4px #8f43c2;

}

::-webkit-scrollbar-thumb {
  background: rgb(43, 43, 45);
  border-radius: 16px;
}


html {
  color-scheme: light;
  @include mat.theme((color: mat.$violet-palette,
      typography: Roboto,
      density: 0));

  &.dark-mode {
    color-scheme: dark;
  }

}
