<app-topbar (toggleMenu)="sidenav.toggle()"></app-topbar>
<mat-sidenav-container>
  <app-filter-list (toggleFilters)="filterNav.toggle()"></app-filter-list>
  <mat-sidenav #sidenav [mode]="'side'" position="start">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav #filterNav class="filter-nav" position="end" (keydown.escape)="close()" disableClose>
    <app-filter (filterClosed)="filterNav.toggle()">
    </app-filter>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>
<app-footer></app-footer>
