// @use './../../styles/typography.scss' as custom-typography;
$config: mat-typography-config();

.toolbar {
  &-user--links {
    text-decoration: none;
    color: red;
    margin-inline-end: .5rem;

    &.active {
      // typography test only
      font-size: mat-font-size($config, headline-1);
      text-decoration: underline;
    }
  }

  &--singInBtn {
    margin-inline-start: auto
  }

  &-search {
    app-search {
      width: 80%;
      margin: 0 auto;
      display: block;
    }
  }
}
