<mat-toolbar>
  <mat-toolbar-row class="toolbar">
    @let user_id = (user$ | ngrxPush)?.user_id; @let avatarUrl= (user$ |
    ngrxPush)?.avatar;
    <app-button (clicked)="toggleMenu.emit()" mat-mini-fab>
      <mat-icon icon>menu</mat-icon>
    </app-button>
    @for( link of navLinks() ;track link) {
    <a
      class="toolbar--links"
      [routerLink]="link.route"
      routerLinkActive
      #rla="routerLinkActive"
      [class.active]="rla.isActive"
      (click)="filterProduct('gender',link.name)"
    >
      {{ link.name }}
    </a>

    } @let username = (user$ | ngrxPush)?.username; @if( username ) {
    <app-button [label]="'Log out'" (clicked)="logout()"></app-button>
    <a [routerLink]="['/profile', username]">
      {{ username }}
    </a>
    } @else {
    <app-button
      class="toolbar--singInBtn"
      [label]="'Sign in'"
      [routerLink]="['/login']"
    >
    </app-button>
    } @if( !username ) {

    <app-button [label]="'Sign up'" [routerLink]="['/register']"></app-button>
    } @if(user_id && avatarUrl) {
    <img
      avatar
      [size]="'40'"
      [url]="
        sanitizer.bypassSecurityTrustUrl('http://localhost:3300/' + avatarUrl)
      "
    />
    <upload-file
      (fileSubmitted)="uploadAvatar($event, user_id)"
      [isMultiple]="false"
      [showIcon]="true"
    ></upload-file>
    } @else {
    <img avatar [size]="'40'" />
    } @let selectWishlistItems = (selectWishlistItems$ | ngrxPush)?.length;
    <app-button>
      <mat-icon
        icon
        [matBadge]="selectWishlistItems"
        [routerLink]="['/wishlist']"
        [attr.aria-hidden]="selectWishlistItems"
        aria-hidden="false"
      >
        favorite_outline
      </mat-icon>
    </app-button>
    <app-button>
      <mat-icon
        icon
        [matBadge]="(selectCart$ | ngrxPush)?.length"
        size="'small'"
        [attr.aria-hidden]="selectWishlistItems"
        aria-hidden="false"
        [routerLink]="['/cart']"
        >add_shopping_cart</mat-icon
      >
    </app-button>
    <app-button (clicked)="toggleMode()">
      <mat-icon icon [fontIcon]="isDarkTheme ? 'dark_mode' : 'light_mode'">
        dark_mode</mat-icon
      >
    </app-button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <!-- @if(isAdmin$ | ngrxPush) { -->
    <mat-icon [routerLink]="['/admin/create-product']"> add_2 </mat-icon>

    <app-button [label]="'Admin panel'" [routerLink]="['/admin/users']">
      <mat-icon icon> dashboard </mat-icon></app-button
    >
    <!-- } -->
    <!-- @if(!isAdmin$ | ngrxPush) { -->

    <!-- } -->
  </mat-toolbar-row>
  <mat-toolbar-row>
      <app-search></app-search>
  </mat-toolbar-row>
</mat-toolbar>
