<app-button
  [label]="'add category'"
  (clickeded)="toggleBtns.toggleCategory = !toggleBtns.toggleCategory"
>
  <mat-icon icon>add</mat-icon>
</app-button>

@if(toggleBtns.toggleCategory) {
<ng-container>
  <ng-container *ngTemplateOutlet="categories"></ng-container>
</ng-container>
} @if(toggleBtns.toggleSubCategory) {
<ng-container>
  <ng-container *ngTemplateOutlet="subCategory"></ng-container>
</ng-container>
}
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>description</mat-label>
    <textarea matInput formControlName="desc"></textarea>
  </mat-form-field>
  <!-- <mat-form-field>
    <mat-label>quantity</mat-label>
    <input matInput type="number" formControlName="quantity" min="1" />
  </mat-form-field> -->
  <mat-form-field>
    <mat-label>price</mat-label>
    <input matInput type="number" formControlName="price" min="1" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Select a category</mat-label>
    <mat-select
      formControlName="category"
      (selectionChange)="valueChanged($event)"
    >
      @for (category of selectCategories$ | ngrxPush ; track category; ) {

      <mat-option [value]="category.id">{{
        category.type | titlecase
      }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Select a sub category</mat-label>
    <mat-select formControlName="sub_category">
      @for (child of selectSubCategories$ | ngrxPush; track child;) {

      <mat-option [value]="child.type">{{ child.type | titlecase }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <!-- <mat-form-field>
    <mat-label>Select a color</mat-label>
    <mat-select formControlName="color">
      @for (color of productColors; track color) {
      <mat-option [value]="color">{{ color }}</mat-option>
      }
    </mat-select>
  </mat-form-field> -->

  <mat-form-field>
    <mat-label>size</mat-label>
    <mat-select formControlName="sizes" multiple>
      @for (size of selectSizes$ | ngrxPush; track size) {
      <mat-option [value]="size">{{ size }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Select a gender</mat-label>
    <mat-select formControlName="gender">
      @for (gender of genders; track gender) {
      <mat-option [value]="gender">{{ gender }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <upload-file
    [isMultiple]="true"
    (fileSubmitted)="submit($event)"
    [showIcon]="false"
  ></upload-file>

  {{ !!loading$ | ngrxPush }}

  <app-button [label]="'Save'">
    @if(loading$ | ngrxPush) {
    <ng-container >
      <app-spinner loading [strokeWidth]="3" [diameter]="18"></app-spinner>
    </ng-container>
    }
  </app-button>
  <app-button (clicked)="productForm.reset()" [label]="'cancel'"></app-button>
</form>

<ng-template #categories
  ><form [formGroup]="categoryForm">
    <mat-form-field>
      <mat-label>Category name</mat-label>
      <input matInput placeholder="name..." formControlName="name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>description</mat-label>
      <textarea
        matInput
        placeholder="description..."
        formControlName="desc"
      ></textarea>
    </mat-form-field>
  </form>
  <app-button
    [label]="'save'"
    type="submit"
    (clicked)="addCategory(categoryForm.value)"
  >
  </app-button>
  <app-button type="submit" (clicked)="categoryForm.reset()" [label]="'cancel'">
  </app-button>
  <app-button
    [label]="'add sub-category'"
    (clicked)="toggleBtns.toggleSubCategory = !toggleBtns.toggleSubCategory"
  >
    <mat-icon icon>add</mat-icon>
  </app-button></ng-template
>

<ng-template #subCategory>
  <form [formGroup]="subCategoryForm">
    <mat-form-field>
      <mat-label>Sub-category name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>description</mat-label>
      <textarea
        matInput
        placeholder="description..."
        formControlName="desc"
      ></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select a category</mat-label>
      <mat-select formControlName="categoryName">
        @for (category of (selectCategories$ | ngrxPush) ; track category; ) {

        <mat-option [value]="category.type">{{
          category.type | titlecase
        }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </form>
  <app-button
    (clicked)="addSubCategory(subCategoryForm.value)"
    [label]="'save'"
  >
  </app-button>
  <app-button (clicked)="categoryForm.reset()" [label]="'cancel'"> </app-button>
</ng-template>
