@defer(on viewport){
<cdk-virtual-scroll-viewport
  (scrolledIndexChange)="viewport()?.checkViewportSize()"
  itemSize="19"
>
  <ng-template
    cdkVirtualFor
    let-item
    [cdkVirtualForOf]="products$ | ngrxPush"
  >
    <app-product-item [product]="item"></app-product-item>
  </ng-template>
</cdk-virtual-scroll-viewport>
} @placeholder {
<div>Loading products...</div>
} @loading(minimum 1s) {
<app-spinner [diameter]="150" [strokeWidth]="10"></app-spinner>
} @error {
<p>Failed to load products. Refresh this page /></p>
}
