cdk-virtual-scroll-viewport.cdk-virtual-scrollable {
  contain: none;
  height: 80%;


  .cdk-virtual-scroll-content-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;

    &>div {
      max-height: 20%;
      height: 100%;
    }
  }
}
