@let product = product$ | ngrxPush;
<div class="product-detail">
  <div class="product-detail-images">
    @let arrayOfImages = product?.images_path?.split(","); @for(image of
    arrayOfImages;track image ; let first = $first; ) {
    <img
      class="product-detail-images--item"
      priority
      [class.isFirst]="first"
      width="250"
      height="499"
      [ngSrc]="'http://localhost:3300/' + image"
      alt="product"
    />
    }
  </div>

  <div class="product-detail-info">
    <p>{{ product?.title }}</p>
    <p>{{ product?.description }}</p>
    <p>{{ product?.price }}</p>
    <p>{{ product?.color }}</p>
    @if(product) {

    <app-button
      mat-button
      [label]="'add to cart'"
      (clicked)="add(product)"
      [icon]="'shopping_cart'"
    >
    </app-button>
    }
  </div>
</div>
