<mat-form-field class="mat-form-field-search">
  <input
    type="text"
    placeholder="Search for product title"
    matInput
    [(ngModel)]="searchTerm"
    [matAutocomplete]="auto"
    (keyup.enter)="selected(searchTerm())"
  />
  @if (searchTerm()) {
  <button
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="searchTerm.set('')"
  >
    <mat-icon>close</mat-icon>
  </button>
  }
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    @for (option of (productOptions$ | filterProduct : searchTerm()) | ngrxPush;
    track option.product_id ) {
    <mat-option
      [value]="option.title"
      (onSelectionChange)="selected(option.title)"
      >{{ option.title }}</mat-option
    >
    }
  </mat-autocomplete>
</mat-form-field>
